<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4</key>
	<array>
		<string>CTA_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>5</key>
	<array>
		<string>CTA_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>6</key>
	<array>
		<string>CTA_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>7</key>
	<array>
		<string>CTA_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>8</key>
	<array>
		<string>CTR_60_CENDREX_Technical_Data_Sheet</string>
		<string>CTR_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>9</key>
	<array>
		<string>AHD_60_CENDREX_Technical_Data_Sheet</string>
		<string>AHD_CENDREX_Technical_Data_Sheet</string>
		<string>AHD_GYP_CENDREX_Technical_Data_Sheet</string>
		<string>AHD_PLY_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>10</key>
	<array>
		<string>PFI_CENDREX_Technical_Data_Sheet</string>
		<string>PFI_GYP_CENDREX_Technical_Data_Sheet</string>
		<string>PFI_PLY_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>11</key>
	<array>
		<string>PFI_CENDREX_Technical_Data_Sheet</string>
		<string>PFI_GYP_CENDREX_Technical_Data_Sheet</string>
		<string>PFI_PLY_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>12</key>
	<array>
		<string>PFU_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>13</key>
	<array>
		<string>PFN_CENDREX_Technical_Data_Sheet</string>
		<string>PFN_GYP_CENDREX_Technical_Data_Sheet</string>
		<string>PFN_PLY_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>14</key>
	<array>
		<string>AHA_CENDREX_Technical_Data_Sheet</string>
		<string>AHA_GYP_CENDREX_Technical_Data_Sheet</string>
		<string>AHA_PLY_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>15</key>
	<array>
		<string>LHD_180_CENDREX_Technical_Data</string>
		<string>LHD_CENDREX_Technical_Data_Sheet</string>
		<string>LHD_GYP_CENDREX_Technical_Data_Sheet</string>
		<string>LHD_PLY_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>16</key>
	<array>
		<string>PAL_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>17</key>
	<array>
		<string>DRD_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>18</key>
	<array>
		<string>SFM_CENDREX_Technical_Data_Sheet</string>
		<string>RPL_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>19</key>
	<array>
		<string>BTA_BTV_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>20</key>
	<array>
		<string>MDS_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>21</key>
	<array>
		<string>PHS_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>22</key>
	<array>
		<string>PPA_CENDREX_Technical_Data_Sheet</string>
		<string>PPA_RE_CENDREX_Technical_Data_Sheet</string>
	</array>
	<key>23</key>
	<array>
		<string>TRH_CENDREX_Technical_Data_Sheet</string>
	</array>
</dict>
</plist>
